p {
  width: 100px;
  height: 80px;
  padding: 20px;
  border: none;
  text-align: center;
}



body nav {

  color: rgb(0, 255, 55);
  text-align: center;
  text-shadow: 1.5px 1.5px 2px #ff0000;


}

h1, h2 {
  color: BLUE;
  text-align: center;
  text-shadow: 1.5px 1.5px 2px #ff0000;

}

body {
  background-image: url("https://wallpapers.com/images/high/blue-sky-3d-nature-vryunb85h8yxunc6.webp");
/* background */
  /* https://i.gifer.com/65w.gif */
  min-height: 100vh;
  opacity: 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #cccccc;
  text-align: center;
  text-shadow: 1.5px 1.5px 2px #020000;
  
 }


/* Start styling for header picture */
.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 50px 10px;
}

.gallery img {
  width: 100%;
  max-width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 25px;
}

.gallery::after {
  content: "";
  width: 350px;
}



/*  End styling for header picture */


/* ---- Start styling for text box --- */

/* Need to check? */
.box {
  background-color: #ffffff;
  margin-top: 15px;
  text-align: center;
  
}


div.background {
  display: flex; /* Make this a flex container */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center */ 
  height: 280px;
  /* position: relative; */
  /* border: none; */
}


div.transbox {
  display: flex; /* Enable Flexbox */
  flex-direction: column-reverse; /* Stack child elements vertically */
  justify-content: center; /* Center child elements horizontally */
  align-items: center; /* Center child elements vertically */
  position: relative;
  width: 420px;
  height: 320px;
  background-color: #ffffff;
  border: none;
  opacity: 0.6;
  border-radius: 25px;
}

div.transbox p {
  margin: 5%;
  font-weight: bold;
  color: #000000;
  border-radius: 250px;
  
}
/*End styling for text box */

/* (crop class in carasoul) */
.crop {
  width: 400px;
  height: 300px;
  margin: auto;
  
  /* overflow: hidden; */
}

.crop img {
  width: 400px;
  height: 300px;
  margin: -75px 0 -100px;
}
/* (crop class in carasoul) */


.center {
  display: flex;
  justify-content: center;
  align-items: center;
}


