body {
  background-image: url("https://elements-cover-images-0.imgix.net/99ca899a-1e76-4ca8-83b4-14e7c226a837?auto=compress%2Cformat&fit=max&w=1370&s=4cd8565bf7a28f59e95f4141eb333b1c");
  background-repeat: no-repeat;
  background-position: center bottom;
  margin-top: 50px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* TrungHikeRight.jpg */
/* https://img.freepik.com/free-photo/rendering-abstract-futuristic-background-with-glowing-neon-blue-orange-lights_181624-19807.jpg */


/* ===========Start NAVBAR============= */
/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #87c1d7;
  font-family: Arial;
  opacity: 0.6;
  box-shadow: 20px 20px 30px rgb(0, 255, 76), -20px -20px 30px rgb(0, 64, 255);
  margin-top: 10px;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 5px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* =============End NAVBAR============= */



/* Start Hiking with text default position relative */

/* Container holding the image and the text */
.container {
  position: relative;
  margin-top: 100px;
  
}

/* Bottom right text */
.text-block {
  position: relative;

  width: 800px;
  margin: auto;

  
  background-color: rgb(249, 244, 244);
  color: rgb(102, 99, 99);
  padding-left: 5px;
  padding-right: 5px;
  width: 800px;
  opacity: .5;
}


